# Travis configuration
language: cpp
compiler:
    - gcc

matrix:
    include:
        - name: MinGW 8.1 on Windows
          os: windows
          language: shell
          install:
            - choco install packages.config
            - mkdir build.boost
            - cd build.boost
            - curl -s -L https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.zip -oboost.zip
            - unzip boost.zip > nul
            - cd boost_1_72_0
            - export BOOST_ROOT=$TRAVIS_BUILD_DIR/build.boost/boost_1_72_0
            - bootstrap gcc --with-libraries=date_time,filesystem,system,iostreams,regex,python,test,program_options
            - .\b2 threading=multi --prefix=$BOOST_ROOT -d0
            - cd ../..
            - export BOOST_INCLUDEDIR=$BOOST_ROOT
            - export BOOST_LIBRARYDIR=$BOOST_ROOT/stage/lib
            - export BOOST_USE_STATIC_LIBS=ON
          env:
            - MINGW_HOME=/c/ProgramData/chocolatey/lib/mingw/tools/install/mingw64
            - CMAKE_HOME=/c/ProgramData/chocolatey/lib/cmake.portable/tools/cmake-3.16.2-win64-x64
            - MAKE_HOME=/c/ProgramData/chocolatey/lib/make/tools/install
            - UNZIP_HOME=/c/ProgramData/chocolatey/lib/unzip/tools
            - BOOST_ROOT=$TRAVIS_BUILD_DIR/build.boost/boost_1_72_0
            - PATH=$MINGW_HOME/bin;$CMAKE_HOME/bin;$MAKE_HOME/bin;$UNZIP_HOME$;$PATH

# whitelist
branches:
    only:
        - master

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq

install:
    # installation of C++ compiler that does support c++11
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-get update
    - sudo apt-get install g++-4.8
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 90
    - sudo apt-get install libstdc++-4.8-dev
    # installation of boost 1.72
    - wget --no-verbose --output-document=boost-trunk.tar.bz2 http://sourceforge.net/projects/boost/files/boost/1.72.0/boost_1_72_0.tar.bz2/download
    - export BOOST_ROOT="$TRAVIS_BUILD_DIR/../boost-trunk"
    - export CMAKE_MODULE_PATH="$BOOST_ROOT"
    - mkdir -p $BOOST_ROOT
    - tar jxf boost-trunk.tar.bz2 --strip-components=1 -C $BOOST_ROOT
    - (cd $BOOST_ROOT; ./bootstrap.sh --with-libraries=date_time,filesystem,system,iostreams,regex,python,test,program_options)
    - (cd $BOOST_ROOT; ./b2 threading=multi --prefix=$BOOST_ROOT -d0 install)
    # installation of cmake
    - sudo apt-get install cmake
    # installation of graphviz and doxygen
    - sudo apt-get -qq install graphviz doxygen
    # verifying installation
    - which cmake
    - cmake --version
    - which g++
    - g++ -v

before_script:
    - mkdir build
    - cd build
    - cmake .. -DBOOST_ROOT=$BOOST_ROOT -DBoost_ARCHITECTURE:STRING=-x64

script: make run

notifications:
    email:
        recipients:
           - thomas.lehmann.private@gmail.com
        on_success: always
        on_failure: always
